POSTGRES_USER=gocommerce
POSTGRES_PASSWORD=gocommerce_password
POSTGRES_DB=gocommerce
POSTGRES_PORT=5432

REDIS_PORT=6379

RABBITMQ_DEFAULT_USER=gocommerce
RABBITMQ_DEFAULT_PASS=gocommerce_password
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672